body {
	margin: 0;
	padding: 0;
	color: #9c9893;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
	line-height: 1.7em; 
	background-color: #030303;
	background-image: url(images/a.jpg);
	background-repeat: repeat-x;
	background-position: top	
}

a, a:link, a:visited { color: #f9b507; font-weight: normal; text-decoration: underline; font-size: 12px }
a:hover { text-decoration: none; }


p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3{ color: #fff; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }

.cleaner { clear: both }

#wrapper {
	width: 988px;
	margin: 0 auto;
	background: url(images/a.jpg) top right no-repeat
}

#header {
	width: 988px;
	height: 160px;
	background: url(images/header.png) no-repeat top
}

#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 30px 0 0 50px; 
	padding: 0; 
}

#site_title h1  { 
	display: block; 
	width: 250px; 
	height: 35px; 
	color: #fff; 
	outline: none; 
	
}

#fb a { 
	float: right;
	width: 48px;
	height: 48px;
	font-weight: normal; 
	display: block; 
	padding: 0; 
	margin: 10px 30px 0 0; 
	color: #ccc; 
	font-size: 18px; 
	text-decoration: none; 
}



#menu {
	float: right;
	width: 625px;
	margin: 22px 20px 0 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*
#menu ul li {
	float: left;
	display: block;
	width: 100px;

	height: 57px;
	padding: 10;
	background: url(images/menu_divider.png) right center no-repeat
}
*/
#menu ul li {
	float: left;
	display: block;
	width: 100px;

	height: 37px;
	padding: 0;
	margin: 0;
	display: inline;
	background: url(images/menu_divider.png) right center no-repeat
}

#menu ul .last { background: none }

#menu ul li a {
	float: left;
	display: block;
	width: 100px;
	padding: 7px 5px 0 0;
	height: 30px;
	font-size: 14px;
	color: #333;
	/*color:#222;
	color:#111;*/	
	text-align: center;
	/*margin:auto;*/
	text-decoration: none;
	font-weight: 400;
	outline: none;
	border: none;
}

#menu ul li a:hover, #menu ul .current {
	color: #000;
	background: url(images/mouse_hover.png) bottom center no-repeat
}

#main {
	clear: both;
	width: 960px;
	padding: 30px 14px;
	/*margin:auto;*/
}


.post_box { clear: both; margin-bottom: 60px }
.post_box  .post_header { padding: 5px 0; border-bottom: 4px solid #333; border-top: 4px solid #333; margin-bottom: 20px }
.post_box h2 { font-size: 24px; margin-bottom: 0 }

.lbe_box { clear: both; margin-bottom: 20px }
.lbe_box h3 { font-size: 16px; margin-bottom: 0 }
.lbe_box p { margin-bottom: 0; }

#footer_wrapper {
	clear: both;
	width: 100%;
	/*width:90%;*/
	/*background: url(images/footer.jpg) repeat-x bottom*/
}

#footer {
	clear: both;
	width: 960px;
	padding: 30px 14px 10px;
	text-align: center;
	color: #ccc;
	margin: 0 auto
}

#footer a {
	font-weight: normal;
	color: #fff;
}

.unattmpt{
	padding:10px;
	border:2px #FFF outset;
}

.attmpt{
	padding:10px;
	border:2px #FFF inset;
}

.unattmpt a{
	color:#FFF;
}

.attmpt a{
	//text-decoration:none;
}
